{% extends "base_template.html"%}

{% block report_body %}
<h1>info</h1>

<div class="jsTableWrapper">
    <table class="baseTable twoSetupTimes"
            data-toggle="table"
            data-show-columns="true"
            id="summary_table">
        <thead>
            <tr>
                <th>Job Name</th>

                <th>Total</th>
                <th>Passed</th>
                <th>Failed
                    <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                        title="[Failed] status means that pixel difference with baseline image is too large."></span>
                </th>
                <th>Error
                    <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                        title="[Error] status means fatal error during render, terminating by timeout, or case wasn't launched at all."></span>
                </th>
                <th>Skipped
                    <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                        title="[Skipped] status means case wasn't launched by QA team decision."></span>
                </th>

                <th data-formatter="timeFormatterFull">Render time {{ first_engine_name }}</th>
                <th data-formatter="timeFormatterFull">Render time {{ second_engine_name }}</th>
                {% if 'true' | env_override('SHOW_SYNC_TIME') != 'false' %}
                    <th data-formatter="timeFormatterFull">Synchronization time {{ first_engine_name }}</th>
                    <th data-formatter="timeFormatterFull">Synchronization time {{ second_engine_name }}</th>
                {% endif %}
                <th data-formatter="timeFormatterFull">Time taken {{ first_engine_name }}</th>
                <th data-formatter="timeFormatterFull">Time taken {{ second_engine_name }}</th>
            </tr>
        </thead>
        <tbody>
    {% for i, value in report | dictsort %}
            <tr>
                <td>{% if i != "_cur_" %}
                    <a href="#{{ i }}">{{ i }}</a>
                    {% else %}
                    "Job name"
                    {% endif %}
                </td>

                <td>{{ report[i].summary.total }}</td>
                <td>{{ report[i].summary.passed }}</td>
                <td
                {%- if report[i].summary.failed != 0 %}
                class="failedStatus"
                {% endif -%}
                >{{ report[i].summary.failed }}</td>

                <td
                {%- if report[i].summary.error != 0 %}
                class="errorStatus"
                {% endif -%}
                >{{ report[i].summary.error }}</td>

                <td
                {%- if report[i].summary.skipped != 0 %}
                class="skippedStatus"
                {% endif -%}
                >{{ report[i].summary.skipped }}</td>

                <td
                {%- if report[i].summary.render_duration == -0.0 and report[i].summary.total != report[i].summary.skipped %}
                class="badResult"
                {% endif -%}
                >{{ report[i].summary.render_duration | round(3) }}</td>
                <td
                {%- if report[i].summary.render_duration_north == -0.0 and report[i].summary.total != report[i].summary.skipped %}
                class="badResult"
                {% endif -%}
                >{{ report[i].summary.render_duration_north | round(3) }}</td>

                {% if 'true' | env_override('SHOW_SYNC_TIME') != 'false' %}
                    <td>{{ report[i].summary.synchronization_duration }}</td>
                    <td>{{ report[i].summary.synchronization_duration_north }}</td>
                {% endif %}

                <td>{{ report[i].summary.duration_sync }}</td>
                <td>{{ report[i].summary.render_duration_north + report[i].summary.synchronization_duration_north }}</td>

            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<hr>

<h1>tests</h1>

{% for i, value in report | dictsort %}

<div class="jsTableWrapper">
    {% if i != "_cur_" %}
        <div id="summary_table_toolbar_{{ loop.index }}">
            <caption><h3 style="margin: 2% 7%; width:130%;"><a href="{{ i }}_detailed.html">{{ i }}</a></h3></caption>
            <a class="hAnchor" name="{{ i }}"></a>
        </div>
    {% endif %}
    <table class="baseTable twoSetupTimes"
        data-toggle="table"
        data-show-columns="true"
        data-toolbar="#summary_table_toolbar_{{ loop.index }}"
        id="summary_table_{{ loop.index }}">
        <thead>
            <tr>
                <th>Test package name</th>
                <th>Local report</th>
                <th>Total</th>
                <th>Passed</th>
                <th>Failed
                    <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                        title="[Failed] status means that pixel difference with baseline image is too large."></span>
                </th>
                <th>Error
                    <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                        title="[Error] status means fatal error during render, terminating by timeout, or case wasn't launched at all."></span>
                </th>
                <th>Skipped
                    <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                        title="[Skipped] status means case wasn't launched by QA team decision."></span>
                </th>
                <th data-formatter="timeFormatterFull">Render time {{ first_engine_name }}</th>
                <th data-formatter="timeFormatterFull">Render time {{ second_engine_name }}</th>
                {% if 'true' | env_override('SHOW_SYNC_TIME') != 'false' %}
                    <th data-formatter="timeFormatterFull">Synchronization time {{ first_engine_name }}</th>
                    <th data-formatter="timeFormatterFull">Synchronization time {{ second_engine_name }}</th>
                {% endif %}
                <th data-formatter="timeFormatterFull">Time taken {{ first_engine_name }}</th>
                <th data-formatter="timeFormatterFull">Time taken {{ second_engine_name }}</th>
            </tr>
        </thead>
        <tbody>
    {% for test_package, value in report[i].results | dictsort %}
        {% set resultsloop = loop %}
            <tr>
                <td>{{ test_package }}</td>
            {% for test_conf, value in report[i].results[test_package] | dictsort %}

                {% if report[i].results[test_package][test_conf].result_path %}
                <td><a href="{{ report[i].results[test_package][test_conf].result_path }}/report.html">Report</a></td>
                {% else %}
                <td>Report</td>
                {% endif %}

                <td>{{ report[i].results[test_package][test_conf].total }}</td>
                <td>{{ report[i].results[test_package][test_conf].passed }}</td>

                <td
                {% if report[i].results[test_package][test_conf].failed != 0 %}
                class="failedStatus"
                {% endif %}
                >{{ report[i].results[test_package][test_conf].failed }}</td>

                <td
                {% if report[i].results[test_package][test_conf].error != 0 %}
                class="errorStatus"
                {% endif %}
                >{{ report[i].results[test_package][test_conf].error }}</td>

                <td
                {% if report[i].results[test_package][test_conf].skipped != 0 %}
                class="skippedStatus"
                {% endif %}
                >{{ report[i].results[test_package][test_conf].skipped }}</td>

                <td
                {% if report[i].results[test_package][test_conf].render_duration == -0.0 and report[i].results[test_package][test_conf].total != report[i].results[test_package][test_conf].skipped %}
                class="badResult"
                {% endif %}
                >{{ report[i].results[test_package][test_conf].render_duration | round(3) }}</td>
                <td
                {% if report[i].results[test_package][test_conf].render_duration_north == -0.0 and report[i].results[test_package][test_conf].total != report[i].results[test_package][test_conf].skipped %}
                class="badResult"
                {% endif %}
                >{{ report[i].results[test_package][test_conf].render_duration_north | round(3) }}</td>

                {% if 'true' | env_override('SHOW_SYNC_TIME') != 'false' %}
                    <td>{{ report[i].results[test_package][test_conf].synchronization_duration }}</td>
                    <td>{{ report[i].results[test_package][test_conf].synchronization_duration_north }}</td>
                {% endif %}

                <td>{{ report[i].results[test_package][test_conf].render_duration + report[i].results[test_package][test_conf].synchronization_duration }}</td>
                <td>{{ report[i].results[test_package][test_conf].render_duration_north + report[i].results[test_package][test_conf].synchronization_duration_north }}</td>

            </tr>
            {% endfor %}
        {% endfor %}

            <tr class="summary_tr">
                <td colspan="7">Sum</td>

                <td
                {% if report[i].summary.render_duration == -0.0 and report[i].summary.total != report[i].summary.skipped %}
                class="badResult"
                {% endif %}
                >{{ report[i].summary.render_duration | round(3) }}</td>
                <td
                {% if report[i].summary.render_duration_north == -0.0 and report[i].summary.total != report[i].summary.skipped %}
                class="badResult"
                {% endif %}
                >{{ report[i].summary.render_duration_north | round(3) }}</td>

                {% if 'true' | env_override('SHOW_SYNC_TIME') != 'false' %}
                    <td>{{ report[i].summary.synchronization_duration }}</td>
                    <td>{{ report[i].summary.synchronization_duration_north }}</td>
                {% endif %}

                <td>{{ report[i].summary.duration_sync }}</td>
                <td>{{ report[i].summary.render_duration_north + report[i].summary.synchronization_duration_north }}</td>

            </tr>
        </tbody>
    </table>
</div>
{% endfor %}

{% endblock %}